---
import BlogLayout from '../../layouts/BlogLayout.astro'
import Banner from '../../components/Banner.astro'
import { getCollection, render } from 'astro:content'
import { titleToUrl } from '../../utils/index.js'

const { slug } = Astro.params
const authors = await getCollection('author')
const authorEntry = authors.find((a) => titleToUrl(a.data.alias || a.data.title) === slug)
if (!authorEntry) return Astro.redirect('/')
const { Content } = await render(authorEntry)
---
<BlogLayout title={authorEntry.data.title}>
  <Banner title={authorEntry.data.title} subtitle={authorEntry.data.excerpt || ''} />
  <div class="intro-bubble">
    <p class="m-0 code-label">$ cat author/{slug}.md</p>
  </div>
  <article class="section-card p-6 md:p-10 prose max-w-none prose-headings:font-semibold prose-img:rounded-xl markdown-body">
    <Content />
  </article>
</BlogLayout>
