---
import AdminLayout from '../../layouts/AdminLayout.astro'
import ShortlinksAdmin from '../../components/admin/ShortlinksAdmin.tsx'
---
<AdminLayout title="短链接">
  <section class="section-card p-6 md:p-10">
    <ShortlinksAdmin client:load />
  </section>
</AdminLayout>
